
<form [formGroup]="categoriaForm" (ngSubmit)="save()">
  <label>
  Nome:
  <input type="text" formControlName="nome">
  </label>
  <label>
  Descrição:
  <input type="text" formControlName="descricao">
  </label>
  <label>Ativa:
    <select formControlName="ativa">
      <option [value]="true">Sim</option>
      <option [value]="false">Não</option>
    </select>
  </label>  
  <button type="submit">Submit</button>
  </form>

<h2>Lista de Categorias</h2>
<table border="1">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Ativa</th>
    </tr>
  </thead>
  <tbody>
    @for (categoria of categorias; track $index) {
    <tr>
      <td>{{ categoria.nome }}</td>
      <td>{{ categoria.descricao }}</td>
      <td>{{ categoria.ativa ? 'Sim' : 'Não' }}</td>
      <td>
        <input type="button" (click)="editar(categoria.id)" value="editar">
        <input type="button" (click)="remover(categoria.id)" value="remover">
      </td>
    </tr> 
  } 
  </tbody>
</table>
